.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
  }
.screen {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: 700px;
    width: 700px;
    border: 1px solid black;
}
.screen>div {
    height: auto;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}  
.screen>div>* {
    flex: 1;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}
button {
    background-color: #444444;
    color: white;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}